<% provide(:title, "Sign in") %>
<div class="container">
<h1>登入</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, "邮箱：" %>
      <%= f.text_field :email %>

      <%= f.label :password, "密码：" %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>没有账户? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
</div>
